{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/list_topic.css' %}" rel="stylesheet">
</head>

<body style = " background-color :rgba(213, 199, 247, 0.95) ;">
    <div id="content"> {% block content %} {% endblock %} </div>
    <div id="sidebar">
        <center style = " background-color : #f8d9d9;">
            <h2 style =  "  color :rgb(122, 5, 60) ; " ><b>پارسین تحقیق</b></h2>
            <h5 style =  "  color :rgb(158, 1, 137) ;">تحقیقات انجام شده در زمینه های مختلف</h5>
        </center>
        <br/>
        <hr>
        <br/>
        <h4> ملیحه آشوری</h4>
        <h4 style="line-height:0.1em">  شماره دانشجویی : 9811811233  </h4>
        <center><i><p style="line-height:5em;  color :rgb(128, 55, 60) ; " >  دانشگاه بزرگمهر قائن  </p></i> </center>




    </div>
</body>

</html>