{% extends "list_topic/base.html" %}
{% block title %}My list_topic{% endblock %}
{% block content %} 
<center>
    <h1 style =  "  color :rgb(122, 5, 60) ; "><b> لیست تحقیقات </b></h1> 
</center>
<hr>
{% for post in posts %} 
<h2>
    <a href="{{ post.get_absolute_url }}"> 
        {{ post.research_title}} 
    </a> 
</h2>
<p class="date"> 
    Published {{ post.publish }} by {{ post.author }} 
</p> 
{{ post.Research_content|truncatewords:30|linebreaks }} 
<h5> visits : <b> <i> {{post.visits}} </i> </b> </h5>
<hr>
<hr>
{%endfor %} 
 {% include "pagination.html" with page=posts %}
{% endblock %}